<p>Welcome {{childMessage}}</p>
<!-- <textarea rows="2" class="form-control" id="review"
                                        (blur)="setDeveloperComment($event.target.value,id,'apiownerComment',0)"
                                        (click)="keyPress($event)"
                                        [value]="questions.responses?.apiownerComment?questions.responses?.apiownerComment:''"
                                        aria-describedby="reviewer" placeholder=""></textarea> -->

                                        <!-- var apiComment = this.questionsLists[this.indexOfSelectedQuestion].responses?.apiownerComment;
                                        // console.log('apiComment ' + apiComment);
                                        if(roleType==0 && apiComment){
                                          apiComment = this.questionsLists[this.indexOfSelectedQuestion].responses?.apiownerComment.trim();
                                          console.log('apiComment::' + apiComment);
                                        }
                                        if(roleType==0 && !apiComment){
                                          this.snackBar.open("Please enter your comment", "X", {
                                            duration: 5000,
                                            panelClass: ['black-snackbar']
                                          });
                                          return;
                                        } -->
                                    